%h1.text-center Новая задача
.row
  .col-xs-6.col-md-offset-3
    = simple_form_for @task, html: { class: "form-horizontal" }, wrapper: :horizontal_form do |f|
      = render "shared/task_form", f: f, task: @task
