.row
  .col-lg-12
    %h1 Все задачи
.row
  %table.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th ID
        %th Создана
        %th Название
        %th Назначена
    %tbody
      - @tasks.each do |task|
        %tr
          %td
            = task.id
          %td
            = task.created_at
          %td
            = task.name
          %td
            = show_owner(task)