// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create {
  padding-top: 20px;
  height: 69px;
}

.content {
  margin-top: 60px;
}

.image {
  width: 300px;
}
.small-image {
  width: 100px;
}

.upload-file {
  margin-top: 40px;
}